@model Persoon
@{
    ViewBag.Title = Model.Voornaam + " " + Model.Familienaam + " verwijderen?";
}

<h2>@Model.Voornaam @Model.Familienaam verwijderen?</h2>
<form method="post" asp-action="Verwijderen" asp-route-id="@Model.Id">
    <input type="submit" value="Verwijderen" />
</form>
