@model List<Filiaal>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Onze hoofdzetel</h2>
<p>Straat: @ViewBag.deHoofdzetel.Straat</p>
<p>Huisnummer: @ViewBag.deHoofdzetel.HuisNr</p>
<p>Postcode: @ViewBag.deHoofdzetel.PostCode</p>
<p>Gemeente: @ViewBag.deHoofdzetel.Gemeente</p>